
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
background: url(../img/bg.png) ;
    height: height: 1052px;
    width: auto;
     /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
}

.hero-text {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
}
.p-2 {
    top: 425px;
    left: 50%;
    position: absolute;
  }

.secure-payment{
	top: 40px;
    left: 36%;
    opacity: 1;
    position: absolute;
}

.main-text{
   font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    color: #253A57;
    opacity: 1;
}

.main-text-t2{    
	 top: 147px;
    left: 206px;
    width: 940px;
    position: absolute;
    text-align: center;
}

button {
    width: auto;
    padding: 12px 30px;
    background: #E80D47 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    position: absolute;
    text-align: center;
    font: Bold 18px/22px Nunito;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    border: none;
}

.btn-p-2 {
    top: 256px;
    left: 43%;
    position: absolute;
}
footer{ 
	top:460px;
    left:410px;
position:absolute; }
.lock{
width: 105px;
    height: 89px;
    opacity: 1;
    padding-top: 20px;
    position: absolute;}

.lock-text {
        width: 470px;
    text-align: left;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0;
    color: #253A57;
    position: absolute;
    padding-left: 63px;
    padding-top: 20px;
}
.card-img {
    top: 86px;
    left: 183px;
    width: 178px;
    height: 77px;
    opacity: 1;
    text-align: center;
    position: absolute;
}
